<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="./login" method="post">
        <input name="username" type="number" placeholder="enter roll no."/>
        <input name="password" type="password" placeholder="enter password"/>
        <a href="./register">new user?</a>
        <button type="submit">login</button>
    </form>
</body>
</html>